<div class="contents core-window">
  <div class="edit transparent-bg core-content">
    <h1>Edit <%= @content.content_type %></h1>

    <%= render "contentform", content: @content, type: @content.content_type, mode: 'Edit' %>
  </div>
</div>