<p style="color: green"><%= notice %></p>

<%= render "shared/contentshow", content: @content, type: @content.content_type, comments: @comments, comments_mode: 'full' %>

<%= render "shared/contentactions", content: @content, type: @content.content_type %>