<%= render "shared/uploadoverlay" %>
<div class="dogs core-window">
  <div class="edit transparent-bg core-content">
    <div class="title">Edit <%= @dog.name %></div>

    <%= render "form", dog: @dog, mode: 'Edit' %>
  </div>
</div>
