<%= render "shared/uploadoverlay" %>
<div class="dogs core-window">
  <div class="new transparent-bg core-content">
    <h1>New dog</h1>

    <%= render "form", dog: @dog, mode: 'Create' %>
  </div>
</div>
