<%= form_with(model: dog_park, url: dog_parks_path, local: true) do |form| %>
  
  <%= render 'shared/dogparkform', form: form %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<div>
  <strong><%= flash.alert %></strong>
</div>