<div class="user-feed core-window" data-window-target="contentContainer">
  <%= render 'shared/locator' %>
  <%= render 'contents/contentfeed', feed_contents: @feed_content, empty_link: 'dogs' %>
</div>