<h1>Feed</h1>

<% @feed_content.each do |dog_content| %>
  <div>
    <hr>
    <% if dog_content.class.name.downcase == 'content' %>
      <%= render "shared/contentshow", content: dog_content, type: dog_content.content_type, comments: dog_content.comments, comments_mode: 'short', barks: dog_content.barks %>
    <% elsif dog_content.class.name.downcase == 'playdate' %>
      <%= render dog_content, play_date: dog_content, comments_mode: 'short' %>
    <% end %>
  </div>
<% end %>