<p style="color: green"><%= notice %></p>

<%= render "shared/contentshow", content: @video, type: 'video', comments: @comments %>

<%= render "shared/contentactions", content: @video, type: 'video' %>