<div class="actions">
  <% if current_user && current_user.id == content.user_id %>
    <hr>
    <div class="buttons">
      <%= link_to edit_content_path(content), class: "action-button", method: :get, data: {turbo_method: :get } do %>
        <%= render 'shared/editbutton' %>
      <% end %>
      <%= link_to content, class: "action-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this #{type} post?"} do %>
        <%= render 'shared/deletebutton' %>
      <% end %>
    </div>
  <% end %>
</div>