<div>
  <% if current_user && current_user.id == content.user_id %>
    <%= link_to "Edit this post", [:edit, content] %> | 
    <%= link_to "Delete #{type}", content, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this #{type} post?"} %> 
  <% end %>
</div>