<div class="locator" data-controller="location">
  <form id="locationForm" action="/set_location" method="post" data-location-target="form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" id="latitude" name="latitude" data-location-target="latitude">
    <input type="hidden" id="longitude" name="longitude" data-location-target="longitude">
  </form>

  <% if flash[:location_request] %>
    <div id="location-request-flag" data-location-request="true" style="display: none;"></div>
  <% end %>

  <% if include_button %>
    <button type="button" data-action="click->location#getUserLocationAndSubmitForm" class="navigation-btn" style="display: none;" data-location-target="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Find my location</title><path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" /></svg>
    </button>
  <% end %>
</div>