<div class="play-dates core-window">
  <div class="edit transparent-bg core-content">
    <div class='title'>Edit Play Date</div>

    <%= render 'form', play_date: @play_date, mode: 'Edit' %>
  </div>
</div>