<div class="play-date core-window">
  <div class="index transparent-bg core-content">
    <h1>Play Dates</h1>

    <% @play_dates.each do |play_date| %>
      <hr>
      <%= render play_date, comments_mode: 'short', include_actions: false %>
    <% end %>
  </div>
</div>
