<div class="play-dates core-window">
  <div class="new transparent-bg core-content">
    <div class="title">New Play Date</div>

    <%= render 'form', play_date: @play_date, mode: 'Create' %>
  </div>
</div>