@use "globalvars";

form {
  .single-input{
    display: flex;
    flex-direction: row;

    label {
      width: 70px;
      font-weight: bold;
    }

    .longer-input {
      width: 250px;
      max-width: 250px;
      min-width: 250px;
      padding: 1px 3px;
    }

    textarea {
      min-height: 100px;
    }
  }

  .sub-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }

  .wide-button {
    width: 100%;

    input[type="submit"]{
      width: 100%;
    }
  }

  .dog-list {
    .list {
      display: flex;
      margin-bottom: 5px;
      gap: 5px;

      label {
        display: flex;
        cursor: pointer;
      }

      input[type="checkbox"]{
        display: none;
      }

      .clicked {
        box-shadow: 0px 0px 10px 2px #ef0000;
      }
    }
  }
}

.contents, .feed-content{
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0;

    .attachments {
      max-width: 400px;
      width: 400px;
  
      .preview-images {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        max-width: 75%;
        width: 75%;
    
        img {
          max-height: 100px;
          height: 100px;
        }
      }
    }

    input[type="file"]{
      max-width: 200px;
    }
  }
}

.dogs {
  .actions {
    display: flex;
    justify-content: center;
    min-width: max(20%, 80px);

    .button_to {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

//MOBILE SCREENS
@media only screen and (max-width: globalvars.$mobile-width){
  
}

//MIDDLE-SIZED SCREEN
@media only screen and (min-width: calc(globalvars.$mobile-width + 1px)) and (max-width: globalvars.$midscreen-width){
  
}

//LARGEST SCREEN
@media only screen and (min-width: calc(globalvars.$midscreen-width + 1px)){
  
}

