<p>Welcome <%= @resource.username %> to BarkPups, social media / play-dating for dogs!</p>

<p>You can confirm your account email through the link below (please note confirmation is required to login):</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
