<p style="color: green"><%= notice %></p>

<%= render "shared/contentshow", content: @image, type: 'image', comments: @comments %>

<%= render "shared/contentactions", content: @image, type: 'image' %>